
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

<table>
    <tbody>
        @foreach (var Order in ViewBag.Report)
        {
        <tr>
            <td>@Order.OrderID</td>
            <td>@Order.CusName</td>
            <td>@Order.SizeName</td>
            <td>@Order.Pepperoni</td>
            <td>@Order.Bacon</td>
            <td>@Order.BlackOlives</td>
            <td>@Order.ExtraCheese</td>
            <td>@Order.Pineapple</td>
            <td>@Order.Spinach</td>
            <td>@Order.Price</td>
            <td><a href="Delete?pizzaID=@Order.PizzaID" class="waves-effect btn">Delete </a></td>
        </tr>
        }
    </tbody>
</table>